*.toc
*.log
*.aux
*.out
*.bbl
*.blg
report/tikz-figures
*.auxlock
_markdown_report/
report.markdown.in
report.markdown.lua
*.fdb_latexmk
*.fls
*.synctex.gz
leon.c
slides.aux
slides.nav
slides.snm
slides.xdv
slides.vrb
_minted-slides/
